<div class="container">
<%= form_with model: @address, url: edit_address_path, local:true do |f| %>
  <div class="row">
    <div class="col m-4"><h2>配送先編集</h2></div>
  </div>
  <div class="row">
    <div class="col-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
    <div class="col-3"><%= f.text_field :postal_code, autocomplete: "postal_code" %></div>
  </div>
  <div class="row mt-2">
    <div class="col-3"><%= f.label :address, "住所" %></div>
    <div class="col-3"><%= f.text_field :address, autocomplete: "address", size: "60" %></div>
  </div>
  <div class="row mt-2">
    <div class="col-3"><%= f.label :name, "宛名" %></div>
    <div class="col-3"><%= f.text_field :name, autocomplete: "name" %></div>
    <div class="col-4"><%= f.submit "変更内容を保存", class: "btn btn-success btn-sm float-right" %></div>
  </div>
<% end %>
</div>