<div class="container">
<%= form_with model:@customer, url:edit_admin_customer_path, local:true do |f| %>
  <div class="row">
    <div class="col m-4"><h2><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2></div>
  </div>
  <div class="row">
    <div class="col-2"><%= f.label :customer_id, "会員ID" %></div>
    <div class="col-3"><%= @customer.id %></div>
    <div class="col-3"></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :last_name, "氏名" %></div>
    <div class="col-3"><%= f.text_field :last_name %></div>
    <div class="col-3"><%= f.text_field :first_name %></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :last_name_kana, "フリガナ" %></div>
    <div class="col-3"><%= f.text_field :last_name_kana %></div>
    <div class="col-3"><%= f.text_field :first_name_kana %></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :postal_code, "郵便番号" %></div>
    <div class="col-3"><%= f.text_field :postal_code %></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :address, "住所" %></div>
    <div class="col-3"><%= f.text_field :address, size: '60' %></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :telephone_number, "電話番号" %></div>
    <div class="col-3"><%= f.text_field :telephone_number %></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :email, "メールアドレス" %></div>
    <div class="col-3"><%= f.text_field :email %></div>
  </div>
  <div class="row mt-2">
    <div class="col-2"><%= f.label :is_deleted, "会員ステータス" %></div>
    <div class="col-3">
      <%= f.radio_button :is_deleted, false %>
      <%= f.label :is_deleted, "有効", value: false %>
      <%= f.radio_button :is_deleted, true %>
      <%= f.label :is_deleted, "退会", value: true %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2"></div>
    <div class="col-3"><%= f.submit "変更を保存", class: 'btn btn-success' %></div>
  <% end %>
  </div>
