<h2><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2>

<%= form_with model:@customer, url:edit_admin_customer_path, local:true do |f| %>
  <div>
    <%= f.label :customer_id, "会員ID" %>
    <%= @customer.id %>
  </div>
  <div>
    <%= f.label :last_name, "氏名" %>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name_kana, "フリガナ" %>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>
  <div>
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>
  <div>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :telephone_number, "電話番号" %>
    <%= f.text_field :telephone_number %>
  </div>
  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :is_deleted, "会員ステータス" %>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :is_deleted, "有効", value: false %>
    <%= f.radio_button :is_deleted, true %>
    <%= f.label :is_deleted, "退会", value: true %>
  </div>

  <div><%= f.submit "変更を保存" %></div>
<% end %>