<div class="container">
  <div class="row">
    <div class="col m-4"><h2>会員一覧</h2></div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-active">
        <th class="col-2">会員ID</th>
        <th class="col-3">氏名</th>
        <th class="col-5">メールアドレス</th>
        <th class="col-2">ステータス</th>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id), style: 'color: black; text-decoration: underline;' do %>
                <%= customer.last_name + customer.first_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                <span style="color:#32cd32;">有効</span>
              <% else %>
                <span style="color:#dcdcdc;">退会</span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <%= paginate @customers %>
      </tbody>
    </table>
  </div>
</div>


