<h2><%= @customer.last_name + @customer.first_name %>さんの会員情報</h2>

<div>
  <span>会員ID</span>
  <span><%= @customer.id %></span>
</div>

<div>
  <span>氏名</span>
  <span><%= @customer.last_name %>　<%= @customer.first_name %></span>
</div>

<div>
  <span>フリガナ</span>
  <span><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></span>
</div>

<div>
  <span>郵便番号</span>
  <span><%= @customer.postal_code %></span>
</div>

<div>
  <span>住所</span>
  <span><%= @customer.address %></span>
</div>

<div>
  <span>電話番号</span>
  <span><%= @customer.telephone_number %></span>
</div>

<div>
  <span>メールアドレス</span>
  <span><%= @customer.email %></span>
</div>

<div>
  <span>会員ステータス</span>
  <% if @customer.is_deleted == false %>
    <span>有効</span>
  <% else %>
    <span>退会</span>
  <% end %>
</div>

<%= link_to "編集する", edit_admin_customer_path(@customer) %>
<%= link_to "注文一覧を見る", edit_admin_customer_path(@customer) %>