<h2>商品編集</h2>

<%= form_with model:@item, url:edit_admin_item_path, local:true do |f| %>
  <div>
    <%= f.label :image, "商品画像" %>
    <%= f.attachment_field :image %>
  </div>
  <div class="field">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, :placeholder => "商品名" %>
  </div>
  <div class="field">
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction, :placeholder => "ここに説明を記述します" %>
  </div>
  <div class="field">
    <%= f.label :genre_id, "ジャンル" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
  </div>
  <div class="field">
    <%= f.label :price, "税抜価格" %>
    <%= f.text_field :price, :placeholder => "1000" %>
  </div>
  <div class="field">
    <%= f.label :is_active, "販売ステータス" %>
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, "販売中", value: true %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, "販売停止中", value: false %>
  </div>
  <div class="action">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>