<h2>商品一覧</h2>
<table>
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active == true %>
            <span>販売中</span>
          <% else %>
            <span>販売停止中</span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= paginate @items %>
  </tbody>
</table>