<div class="container">
  <div class="row">
    <div class="col m-4"><h2>商品詳細</h2></div>
  </div>
  <div class="row">
    <div class="col-5 text-center">
      <%= attachment_image_tag @item, :image, :fill, 300, 250, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4"><span>商品名</span></div>
        <div class="col-6"><span><%= @item.name %></span></div>
      </div>
      <div class="row mt-3">
        <div class="col-4"><span>商品説明</span></div>
        <div class="col-6"><span><%= @item.introduction %></span></div>
      </div>
      <div class="row mt-3">
        <div class="col-4"><span>ジャンル</span></div>
        <div class="col-6"><span><%= @item.genre.name %></span></div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <span>税込価格</span></br>
          <span>(税抜価格)</span>
        </div>
        <div class="col-6">
          <span class="align-middle"><%= @item.add_tax_price.to_s(:delimited) %> (<%= @item.price.to_s(:delimited) %>) 円</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4"><span>販売ステータス</span></div>
        <div class="col-6">
          <% if @item.is_active == true %>
            <span style="color:#32cd32;">販売中</span>
          <% else %>
            <span style="color:#dcdcdc;">販売停止中</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3 mx-auto"><%= link_to "編集する", edit_admin_item_path(@item),class: "btn btn-success" %></div>
  </div>
</div>
<div>


</div>





