<h2>ショッピングカート</h2>
<%= link_to "カートを空にする", destroy_all_cart_item_path, method: :delete %>
<table class="table table-hover table-bordered col-xs-10" >
 <thead>
  <tr class="info">
    <th class="col-xs-3">商品名</th>
    <th class="col-xs-2">単価（税込）</th>
    <th class="col-xs-1">数量</th>
    <th class="col-xs-1">小計</th>
    <th class="col-xs-1"></th>
  </tr>
 </thead>
 <tbody>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td class="col-xs-3"><%= cart_item.item.name %></td>
    <td class="col-xs-2">¥<%= ((cart_item.item.price * 1.1).floor).to_s(:delimited, delimiter: ',') %></td>
    <td class="col-xs-1">
        <%= form_with model:cart_item, url:update_cart_item_path(cart_item.id) do |c| %>
        <p>
          <%= c.number_field :amount, min:1, max:10000, step:1 %>
          <%= c.submit "変更", class: "btn btn-primary" %>
        </p>
        <% end %>
    </td>
    <td class="col-xs-1">
        ¥<%= ((cart_item.item.price * cart_item.amount * 1.1).floor).to_s(:delimited, delimiter: ',') %>
    </td>
    <td class="col-xs-1">
        <%= link_to "削除する", destroy_cart_item_path(cart_item.id), method: :DELETE, class: "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
 </tbody>
</table>

<div>
    <span>
    <%= link_to "買い物を続ける", root_path %>
    </span>
</div>
<div>
    <table>
        <tr>
            <td><strong>合計金額</strong></td>
            <td>¥<%= @total_price.floor.to_s(:delimited, delimiter: ',') %></td>
        </tr>
    </table>
</div>


<div class = "col-xs-4 col-xs-offset-4">
    <span>
        <%= link_to "情報入力に進む", root_path, class: "col-xs-12 btn btn-success"%>
    </span>
    </div>
</div>