<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div></div>

  <table>
    <tr>
      <td>名前</td>
      <td>
        <%= f.label :last_name, "(姓)" %>
        <%= f.text_field :last_name, autocomplete: "last_name" %>
      </td>
      <td>
        <%= f.label :first_name, "(名)" %>
        <%= f.text_field :first_name, autocomplete: "first_name" %>
      </td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td>
        <%= f.label :last_name_kana, "(セイ)" %>
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
      </td>
      <td>
        <%= f.label :first_name_kana, "(メイ)" %>
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
      </td>
    </tr>
  </table>

    <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
    </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
    <%= f.text_field :telephone_number, autocomplete: "telephone_number" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h2>既に登録済みの方</h2>
<%= link_to new_customer_session_path do %>
  <span>こちら</span>
<% end %>
<span>からログインしてください。</span>
