<div class="container">
  <h3 class="mt-4">新規会員登録</h2>

  <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row mt-3">
    <label class="col-lg-3">名前</label>
    <div class="col-lg-3">
      <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "令和" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "道子" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">フリガナ</label>
    <div class="col-lg-3">
      <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", placeholder: "レイワ" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", placeholder: "ミチコ" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">メールアドレス</label>
    <div class="col-lg-3">
      <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">郵便番号(ハイフンなし)</label>
    <div class="col-lg-3">
      <%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">住所</label>
    <div class="col-lg-6">
      <%= f.text_field :address, autocomplete: "address", :size =>"60", placeholder: "東京都渋谷区代々木神園町0-0" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">電話番号(ハイフンなし)</label>
    <div class="col-lg-3">
      <%= f.text_field :telephone_number, autocomplete: "telephone_number", placeholder: "00000000000" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">
      パスワード
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
    </label>
    <div class="col-lg-3">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <label class="col-lg-3">パスワード(確認用)</label>
    <div class="col-lg-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success btn-sm"%>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <h3>既に登録済みの方</h2>
  </div>

  <div class="col-lg-4">
      <%= link_to "こちら", new_customer_session_path %>
       からログインしてください。
  </div>


<% end %>
</div>


