<h3>注文情報確認</h3>
<%= form_with model:@order, url:complete_order_path, local:true do |f| %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= attachment_image_tag(cart_item.item, :image, size: "60x50", fallback: "no_image.jpg") %>
          <%= cart_item.item.name %>
        </td>
        <td>
          ￥<%= ((cart_item.item.price * 1.1).floor).to_s(:delimited, delimiter: ',') %>
        </td>
        <td>
          <%= cart_item.amount %>
        </td>
        <td>
          ￥<%= ((cart_item.item.price * 1.1).floor * cart_item.amount).to_s(:delimited, delimiter: ',') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <tr>
    <th>配送料</th>
    <td>
      ￥<%= @order.postage.to_s(:delimited, delimiter: ',') %>
      <%= f.hidden_field :postage, :value => @order.postage %>
    </td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td>￥<%= @sum.to_s(:delimited, delimiter: ',') %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td>
      <%= (@sum + @order.postage).to_s(:delimited, delimiter: ',') %>
      <%= f.hidden_field :amount_of_payment, :value => (@sum + @order.postage) %>
    </td>
  </tr>
</table>
<table>
  <tr>
    <th>支払方法</th>
    <td>
      <% if @order.payment_method == "credit_card" %>
        クレジットカード
        <%= f.hidden_field :payment_method, :value => "credit_card" %>
      <% else %>
        銀行振込
        <%= f.hidden_field :payment_method, :value => "transfar" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      <%= @address.address_display %>
      <%= f.hidden_field :postal_code, :value => @address.postal_code %>
      <%= f.hidden_field :address, :value => @address.address %>
      <%= f.hidden_field :name, :value => @address.name %>
    </td>
  </tr>
</table>

<%= f.submit "注文を確定する" %>
<% end %>