<h2>注文履歴一覧</h2>
<table>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送日</th>
      <th>注文商品</th>
      <th>支払料金</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          〒<%= order.postal_code %></br>
          <%= order.address %></br>
          <%= order.name %>
        </td>
        <td>
          <% order.order_items.each do |order_item| %>
            <%= order_item.item.name %></br>
          <% end %>
        </td>
        <td><%= order.amount_of_payment.to_s(:delimited, delimiter: ',') %></td>
        <td><%= link_to "表示する", order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>