<div class="container">
<%= form_with model:@order, url:confirm_order_path, local:true do |f| %>
	<div class="row mt-5"><h2>注文情報入力</h2></div>

	<div class="row mt-2">
		<h4>支払方法</h4>
	</div>
	<div class="row">
		<div class="col">
			<%= f.radio_button :payment_method, "credit_card", checked: "checked" %>
  		<%= f.label :payment_method, :クレジットカード %>
		</div>
  </div>
	<div class="row">
		<div class="col">
			<%= f.radio_button :payment_method, "transfar" %>
  		<%= f.label :payment_method, "銀行振込" %>
		</div>
	</div>
	<div class="row">
		<h4>お届け先</h4>
	</div>
	<div class="row">
		<div class="col-12">
			<%= f.radio_button :select_address, 0, checked: "checked" %>
			<%= f.label :ご自身の住所 %>
		</div>
		<div class="col-12 ml-4">
			〒<%= @customer.postal_code %>
			<%= @customer.address %><br>
			<%= @customer.last_name %>
			<%= @customer.first_name %><br>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<%= f.radio_button :select_address, 1 %>
			<%= f.label :登録済住所から選択 %>
		</div>
		<div class="col ml-4">
			<%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %><br>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-12">
			<%= f.radio_button :select_address, 2 %>
			<%= f.label :新しいお届け先 %>
		</div>
		<div class="col-4 ml-4">
			<%= f.label :"郵便番号(ハイフンなし)" %>
		</div>
		<div class="col-4">
			<%= f.text_field :postal_code, placeholder: '0000000' %>
		</div>
		<div class="col-4 ml-4">
			<%= f.label :"住所" %>
		</div>
		<div class="col-4">
			<%= f.text_field :address, size: '60', placeholder: '東京都渋谷区代々木神園町0-0' %>
		</div>
		<div class="col-4 ml-4">
			<%= f.label :"宛名" %>
		</div>
		<div class="col-4">
			<%= f.text_field :name, placeholder: '令和道子' %>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-3 mx-auto">
			<%= f.submit "確認画面へ進む", class: 'btn btn-primary'%>
		</div>
	</div>
<% end %>
</div>