<h2>注文履歴詳細</h2>
<table>
  <tr>
    <th>購入者</th>
    <td>
      <%= link_to admin_customer_path(@order.customer_id) do %>
        <%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>注文日</th>
    <td>
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      〒<%= @order.postal_code.insert(3, "-") %>
      <%= @order.address %>
      <br>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td>
    <%= @order.payment_method %>
    </td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model:@order, url:admin_order_path, local:true do |f| %>
        <%= f.select :order_status, [["入金待ち", 0], ["入金確認", 1], ["製作中", 2], ["発送準備中", 3], ["発送済み", 4]] %>
        <%= f.submit '更新' %>
      <% end %>
    </td>
  </tr>
</table>
<table>
  <thead>
    <th>商品名</th>
    <th>単価(税込み)</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <%= form_with model:@order.order_item, url:admin_order_path, local:true do |f| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= add_tax_price(item.price) %></td>
          <td><%= item.amount %></td>
          <td><%= add_tax_price(item) * item.amount %></td>
          <td><%= f.select :f.product_status, [["着手不可", 0], ["製作待ち", 1], ["製作中", 2], ["製作完了", 3]] %></td>
          <%= f.submit '更新' %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>