<h2>注文履歴詳細</h2>
<table>
  <tr>
    <th>購入者</th>
    <td>
      <%= link_to admin_customer_path(@order.customer_id) do %>
        <%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>注文日</th>
    <td>
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      〒<%= @order.postal_code.insert(3, "-") %>
      <%= @order.address %>
      <br>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td>
      <% if @order.payment_method == "credit_card" %>
        クレジットカード
      <% else %>
        銀行振込
      <% end %>
    </td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model:@order, url:admin_order_path, local:true do |f| %>
        <%= f.select :order_status, [["入金待ち", 0], ["入金確認", 1], ["製作中", 2], ["発送準備中", 3], ["発送済み", 4]] %>
        <%= f.submit '更新' %>
      <% end %>
    </td>
  </tr>
</table>
<table>
  <thead>
    <th>商品名</th>
    <th>単価(税込み)</th>
    <th>数量</th>
    <th>小計</th>
  </thead>
  <tbody>
    <% @order_items.each do |i| %>
      <%= form_with model:@order.order_items, url:admin_order_path, local:true do |f| %>
        <tr>
          <td><%= i.item.name %></td>
          <td><%= (i.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %></td>
          <td><%= i.amount %></td>
          <td><%= ((i.item.price * 1.1).floor * i.amount).to_s(:delimited, delimiter: ',') %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>